@import "normalize.css";

body {
  font-family: sans-serif;
  background-color: #FFF;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img, video {
  max-width: 100%;
  display: block;
}

button {
}

ul {
}

.container {
  max-width: 536px;
  margin: 0 auto;
}
